.add-contact-modal {
    .add-contact-modal-header {
        .close-button {
            margin-top: 0;
            .close-icon {
                vertical-align: middle;
            }
        }
    }
    .add-contact-modal-body {
        .form-group {
            margin-bottom: 20px;
            .required-label {
                color: red;
            }
            .form-control-error {
                color: red;
            }
        }
    }
}
