<div class="experience-page">
    <div class="container">
        <div class="card">
            <div class="card-face">
                SENIOR ANGULAR DEVELOPER
                <br>
                01/2017 - PRESENT
                <br>
                San Francisco, CA</div>
            <div class="card-body">
                <p class="card-text">Provide descriptive technical visual program specifications for use in development
                    process Participate in coding, testing, through implementation within an agile environment, ensuring
                    all designs are maintainable, and in accordance with technology architecture.</p>
                <a href="#" class="btn btn-primary">More details</a>
            </div>
        </div>
        <div class="card">
            <div class="card-face">ANGULAR DEVELOPER
                <br>
                05/2011 - 08/2016
                <br>
                New York, NY</div>
            <div class="card-body">
                <p class="card-text">Determine root cause for the most complex software issues develop practical
                    efficient permanent technical solutions. Modify and maintain existing systems for adaptation to
                    business, and / or technology changes.</p>
                <a href="#" class="btn btn-primary">More details</a>
            </div>
        </div>
        <div class="card">
            <div class="card-face">ANGULAR DEVELOPER
                <br>
                12/2006 - 02/2011
                <br>
                Houston, TX</div>
            <div class="card-body">
                <div class="card-text">Determine process improvements, best practices, and develop new processes as
                    deemed
                    necessary. Drive constructive change and provide leadership.</div>
                <button class="btn btn-primary">More details</button>
            </div>
        </div>
    </div>
</div>