<div class="profile-page">
  <div class="header">
    <h3>User profile</h3>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card info-card-with-photo">
        <img class="profile-image" src="../../../../assets/images/profile.jpeg" alt="Profile image">
        <div class="card-body">
          <h2 class="card-title"><strong>Andrei Ionescu</strong></h2>
          <h5 class="card-title">andrei.ionescu@gmail.com</h5>
          <p class="card-text">Experienced Web Developer adept in all stages of advanced web development. Knowledgeable
            in user interface, testing, and debugging processes. Bringing forth expertise in design, installation,
            testing and maintenance of web systems. Equipped with a diverse and promising skill-set. </p>
          <button class="btn btn-outline-primary" (click)="goToExperiencePage()">See experience</button>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="card detailed-info-card">
        <div class="card-body">
          <h4 class="card-title">Account information</h4>
          <div class="property-group col-sm-6">
            <div class="property">Email Address</div>
            <div class="value">andrei.ionescu@gmail.com</div>
          </div>
          <div class="property-group col-sm-6">
            <div class="property">Username</div>
            <div class="value">andrei.ionescu</div>
          </div>
          <div class="property-group col-sm-6">
            <div class="property">First Name</div>
            <div class="value">Andrei</div>
          </div>
          <div class="property-group col-sm-6">
            <div class="property">Last Name</div>
            <div class="value">Ionescu</div>
          </div>
          <div class="property-group col-sm-6">
            <div class="property">Phone Number</div>
            <div class="value">+40744689627</div>
          </div>
          <div class="property-group col-sm-6">
            <div class="property">Address</div>
            <div class="value">Brasov, str. Victoriei, 15</div>
          </div>
          <div class="card-footer">
            <a class="btn edit-profile-link" href="#">Edit profile</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>