.contacts-page {
    .header {
        margin: 20px 0;
        text-align: right;
        .greeting {
            color: darkblue;
            font-size: 18px;
        }
    }
    .contacts-table {
        margin-top: 50px;
    }
}
